<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- jquery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--   ---------------- bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--    ------------------------------------------------------------>

</head>
<body>
    <div id="main_container">
        <div id="left_main_container"></div>

        <div id="right_main_container">
            <div id="right_top_container">
                <div id="chnnl_link_container"> <div> provide the channel link here </div><input id="input_link" type="text"> </div>
                <div id="link_example_container"> (Ex:- https://www.youtube.com/user/krishnaik06, https://www.youtube.com/user/krishnaik06/videos )</div>

                <div id="finter_main_container">
                    <div>Select No of videos
                        <select name="sl_num_of_videos" id="sl_num_of_videos">
                            <option value=2>2</option>
                            <option value=5>5</option>
                            <option value=10>10</option>
                            <option value=25>25</option>
                            <option value=50>50</option>
                        </select>
                    </div>
                    <div>Length of the videos should be less than
                        <select name="sl_vdo_length" id="sl_vdo_length">
                            <option value=5>5 min</option>
                            <option value=15>15 min</option>
                            <option value=30>30 min</option>
                            <option value=60>1 hour</option>
                            <option value=300>5 hours</option>
                        </select>

                    </div>

                </div>

                <div id="action_btn_container" style="display: flex;">
                    <div>Select your actions</div>
                    <button id="btn1"> fetch data from db </button>
                    <button id="btn2">  refresh data in db</button>
                    <button id="btn3"> download videos in sytem</button>
                    <button id="btn4"> upload videos in ASW-S3 </button>
                </div>
            </div>
            <div id="right_bottom_container">
                <div>
                    <button id="Shw_vdoDetails">Show video info</button>
                    <button id="shw_commentDetails">Show comment info</button>
                </div>
                <div id="basic_info_container">
                    <table id='tbl_details' class='table table-striped'>
                        <thead>
                            <tr><th>Video Id</th>
                                <th>Video Link</th>
                                <th>Channel Name</th>
                                <th>Views</th>
                                <th>Likes</th>
                                <th>Comments</th>
                                <th>Length</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_basicInfo"></tbody>
                    </table>
                </div>
                <div id="comment_details_container">
                    <table id='tbl_comment_details' class='table table-striped'>
                        <thead>
                            <tr>
                                <th>Video Id</th>
                                <th>Commenter</th>
                                <th>Coment</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_commentInfo"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        let btn1 = document.getElementById('btn1')
        btn1.addEventListener('click', function () {
            fetch_data_fromDb()
        })

        let btn2 = document.getElementById('btn2')
        btn2.addEventListener('click', function () {
            scrapNewData()
        })

        let btn3 = document.getElementById('btn3')
        btn3.addEventListener('click', function () {
            download_vdos()
        })
        let btn4 = document.getElementById('btn4')
        btn4.addEventListener('click', function () {
           upload_vdos_toAWS()
        })

        $('#Shw_vdoDetails').on('click', () => {
            document.getElementById('basic_info_container').classList.remove('displayNone')
            document.getElementById('tbl_details').classList.remove('displayNone')

            document.getElementById('comment_details_container').classList.add('displayNone')
            document.getElementById('tbl_comment_details').classList.add('displayNone')

        })


        $('#shw_commentDetails').on('click', () => {
            document.getElementById('basic_info_container').classList.add('displayNone')
            document.getElementById('tbl_details').classList.add('displayNone')

            document.getElementById('comment_details_container').classList.remove('displayNone')
            document.getElementById('tbl_comment_details').classList.remove('displayNone')

        })



        function scrapNewData() {
            let channel_name = document.getElementById('input_link').value
            let target_vdo_length = document.getElementById('sl_vdo_length').value
            let target_num_of_vdos = document.getElementById('sl_num_of_videos').value
            console.log(channel_name, target_vdo_length, target_num_of_vdos)

            $.ajax('/scrap_new_request', {
                 type: 'GET',  // http method
                data: { 'channel_name':channel_name, 'target_length': target_vdo_length,
                     'target_nunOf_vdos':target_num_of_vdos },  // data to submit

                success: function (data, status, xhr) {
                    $('#right_bottom_container').append('status: ' + status + ', data: ' + data);
                },
                error: function (jqXhr, textStatus, errorMessage) {
                        $('#right_bottom_container').append('Error' + errorMessage);
                }
            });
        }

        function fetch_data_fromDb() {
            let channel_name = document.getElementById('input_link').value
            $.ajax('/fetch_dataFromDb', {
                 type: 'GET',  // http method
                data: { 'channel_name':channel_name},  // data to submit

                success: function (data, status, xhr) {

                    document.getElementById('tbody_basicInfo').innerHTML ="";
                    //ocument.getElementById('tbody_basicInfo').innerHTML =data[0];
                    console.log(data)
                    let table_html =data['comment_info']
                    document.getElementById('tbody_commentInfo').innerHTML ="";
                    document.getElementById('tbody_commentInfo').innerHTML =table_html;
                },
                error: function (jqXhr, textStatus, errorMessage) {
                        // document.getElementById('right_bottom_container').innerHTML ="";
                        // $('right_bottom_container').append('Error' + errorMessage);
                        alert(errorMessage)
                }
            });
        }
        function download_vdos() {
            let channel_name = document.getElementById('input_link').value
            let target_vdo_length = document.getElementById('sl_vdo_length').value
            let target_num_of_vdos = document.getElementById('sl_num_of_videos').value
            $.ajax('/download_videos', {
                 type: 'GET',  // http method
                data: { 'channel_name':channel_name, 'target_length': target_vdo_length,
                     'target_nunOf_vdos':target_num_of_vdos },  // data to submit

                success: function (data, status, xhr) {
                    // $('#right_bottom_container').append('status: ' + status + ', data: ' + data);
                    console.log('vdo working')
                },
                error: function (jqXhr, textStatus, errorMessage) {
                        $('#right_bottom_container').append('Error' + errorMessage);
                }
            });
        }
        function upload_vdos_toAWS() {
            console.log('hitting')
            $.ajax('/upload_vdo_toS3', {
                 type: 'GET',  // http method
                data: { 'channel_name':'dummy_path' },  // data to submit

                success: function (data, status, xhr) {
                    $('#right_bottom_container').append('status: ' + status + ', data: ' + data);
                    console.log('vdo working')
                },
                error: function (jqXhr, textStatus, errorMessage) {
                        console.log(errorMessage)
                        $('#right_bottom_container').append('Error' + errorMessage);
                }
            });
        }

    </script>
</body>
</html>